@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
}

body {
  background: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Header {
  height: 250px;
  display: flex;
}

#Header-Logo {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  padding: 20px 20px;
}

#Header-Logo p {
  color: #088884;
}

.Header-buttons {
  display: flex;
  align-items: center;
}

.Header-UL {
  position: relative;
  display: flex;
  gap: 30px;
}

.Header-UL-LI {
  list-style: none;
}

.Header-UL-LI-Dropdown {
  list-style: none;
}

li a,
.dropbtn {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #2aa39f;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Header-UL-LI-A {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.Form {
  margin-top: 0.5em;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

#Content {
  box-sizing: border-box;
  padding: auto;
  height: 80%;
  width: 80%;
}

#Members {
  box-sizing: border-box;
  padding: auto;
  height: 80%;
  width: 80%;
}

.Post {
  box-sizing: border-box;
}

.Title {
  color: #088884;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 2em;
  margin-top: 2em;
}

.Subtitle {
  color: #000;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.Text {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
}

.Projects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  align-items: center;
}

.banner {
  width: 100%;
  height: auto;
  background: #d9d9d9;
}

.img {
  background: #d9d9d9;
  width: 40%;
}

.banner-projeto {
  width: 100%;
}

#Footer {
  width: 100%;
  background-color: #088884;
}

.Footer-Titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: white;
  margin-top: 2em;
  margin-bottom: 1em;
}

.Footer-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: white;
  margin-bottom: 2em;
}

.Footer-text {
  width: 20%;
}

.Footer-text-2 {
  width: 30%;
}

.Footer-text-3 {
  width: 20%;
}

.Footer-UL-LI {
  list-style: none;
}

.Footer-UL-LI-A {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#Sub-footer {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.sub-footer-logo {
  width: 20%;
  height: 20%;
}
