@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
}

body {
    background: azure;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#Header {
    height: 250px;
    display: flex;
}

#Header-Logo {

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    padding: 20px 20px;
}



#Header-Logo p {
    color: #088884;
}

.Header-buttons{
    display: flex;
    align-items: center;
}

.Header-UL{
    position: relative;
    display: flex;
    gap: 30px;
}

.Header-UL-LI{
    list-style: none;
}

.Header-UL-LI-A{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.Form{
    margin-top: 0.5em;
}

form{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
}

input[type="search"]{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}
  
input[type="search"]::placeholder {
    color: #bbb;
}

#Content {
    box-sizing: border-box;
    padding: auto;
    height: 80%;
    width: 80%;


}


.Post {
    box-sizing: border-box;
}

.Title {
    color: #088884;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 2em;
    margin-top: 2em;
}

.Subtitle {
    color: #000;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Text {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;

}

.Projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    align-items: center;
}

.banner {
    width: 100%;
    height: auto;
    background: #D9D9D9;
}

.img {
    background: #D9D9D9;
    width: 40%;
    
}

.banner-projeto {
    width: 100%;
    
}